# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
sources/app/dist
sources/app/tmp
sources/app/out-tsc
# Only exists if Bazel was run
sources/app/bazel-out

# dependencies
sources/app/node_modules

# profiling files
sources/appchrome-profiler-events.json
sources/appspeed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
sources/app/.sass-cache
sources/app/connect.lock
sources/app/coverage
sources/app/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
sources/app/typings

# System Files
.DS_Store
Thumbs.db
